/* GENERAL LAYOUT */
.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media (min-width: 480px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}

.h3-title{
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.h3-title strong{
  font-weight: 600;
}

@media (min-width: 768px){
  .h3-title{
    font-size: 24px;
  }
}

@media (min-width: 1024px){
  .h3-title{
    font-size: 32px;
  }
}

/* SVG SPRITE */
.ico{
  display: inline-block;
  fill: currentColor;
}
.ico-mono-benefit-icon-calendar {
  width: 1em;
  height: 1em;
}
.ico-mono-benefit-icon-contract {
  width: 1em;
  height: 1em;
}
.ico-mono-benefit-icon-guard {
  width: 0.78em;
  height: 1em;
}
.ico-mono-benefit-icon-home {
  width: 0.99em;
  height: 1em;
}
.ico-mono-benefit-icon-security {
  width: 1em;
  height: 1em;
}
.ico-mono-benefit-icon-team {
  width: 1.36em;
  height: 1em;
}



/* BENEFITS */
.benefits{
  padding: 15px 0 30px;
}
.benefits *{
  box-sizing: border-box;
}

.benefits .h3-title{
  text-align: center;
  margin: 1.5em 0;
}
.benefits__wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -20px;
}

.benefits__col{
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  min-width: 1px;
  min-height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 20px;
}

@media (min-width: 480px){
  .benefits{
    padding: 25px 0 50px;
  }
}


@media (min-width: 768px){
  .benefits{
    padding: 25px 0 70px;
  }
  .benefits .h3-title{
    text-align: left;
  }
  .benefits__col{
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .benefits__col--100{
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1024px){
  .benefits{
    padding: 50px 0 100px;
  }
  .benefits__wrapper{
    margin-top: -40px;
  }

  .benefits__col{
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    margin-top: 40px;
  }
  .benefits__col--100{
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

/* card */
.benefit-card{
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  min-height: 0;
  min-width: 1px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.benefit-card--wrap{
  flex-wrap: wrap;
}
.benefit-card--wrap .benefit-card__content{
  flex-basis: 100%;
  width: 100%;
  margin-left: 0px;
}
@media (min-width: 768px){
  .benefit-card{
    max-width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px){

}


.benefit-card__icon{
  flex: 0 0 auto;
  position: relative;
  font-size: 0;
}
.benefit-card__icon .ico{
  fill: #28b377
}
.benefit-card__icon .benefit-card__title{
  margin-left: 16px;
  margin-top: .2em;
}

.benefit-card__icon--border{
  padding-left: 18px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

/* green line at the right */
.benefit-card__icon--border::before{
  display: inline-block;
  content: ' ';
  position: absolute;
  z-index: 2;
  left: 0px;
  width: 2px;
  background: #28b377;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

/* icon modifiers and sizings */
.benefit-card__icon .ico{
  font-size: 26px;
}
.benefit-card__icon--border .ico{
  font-size: 44px;
}

.benefit-card__icon--border .ico-mono-benefit-icon-guard{
  font-size: 48px;
}


/* fallback */
.benefit-card__icon img{
  max-width: 75%;
}

.benefit-card__content{
  flex: 1 1 auto;
  margin-top: 4px;
  margin-left: 20px;
}


.benefit-card__title{
  font-size: 16px;
  font-weight: 600;
}

.benefit-card__description{
  display: inline-block;
  margin-top: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.714;
  color: #555555;
}

@media (min-width: 1024px){

  .benefit-card__icon--border{
    padding-left: 26px;
  }
  .benefit-card__icon .ico{
    font-size: 32px;
  }
  .benefit-card__icon--border .ico{
    font-size: 54px;
  }
  .benefit-card__icon--border .ico-mono-benefit-icon-guard{
    font-size: 62px;
  }
  .benefit-card__content{
    margin-top: 7px;
  }
  .benefit-card__title{
    font-size: 18px;
  }
  .benefit-card__title--big{
    font-size: 24px;
  }
  .benefit-card__title--big span{
    font-size: 42px;
  }
  .benefit-card__description{
    maring-top: 15px;
    font-size: 14px;
  }
}

/* form disabled button */
.form__send[disabled]{
  background: #282828;
  opacity: 0.6;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__send[disabled]::after{
  visibility: hidden;
}


.form .form__input.has-error{
  box-shadow: inset 0 0 0 1px rgba(235,235,235,0),inset 0 0 0 2px #FF6347,inset 0 0 0 2px rgba(255,99,71,0),0 2px 10px -4px rgba(255,99,71,0.8)
}
